
<html lang="en">
<head>
    <title>
        The Product recommender
    </title>
<style>
.content {
  max-width: 750px;
  margin: auto;
}
</style>
</head>
<body  >
<div class="content">
<H1>Amazon product recommendation system</H1>
<form method="POST">
    <label>
        enter your search here
        <input name="text">
    </label>
    <input type="submit" value="Search">
</form>

</div>
<h1>{{some_var}}</h1>
<ul>
    {% for item in some_var%}
    <li>{{item}}</li>
    {%endfor%}
</ul>
</body>

</html>